{
    "env": {
        "testing": {
            "presets": ["env", "stage-2", "react"]
        },
        "production": {
            "presets": [ 
                { "env": {"modules": false}}, "stage-2", "react"
            ]
        },
        "development": {
            "presets": [ 
                { "env": {"modules": false}}, "stage-2", "react"
            ]
        }
    }
    
  }
  