{
    "env": {
        "testing": {
            "presets": ["@babel/env", "@babel/react"]
        },
        "production": {
            "presets": [ 
                "@babel/env", "@babel/react"
            ]
        },
        "development": {
            "presets": [ 
                 "@babel/env", "@babel/react"
            ]
        }
    }
    
  }
  